[Unit]
Description=Run monitor-test every minute
Requires=monitor-test.service

[Timer]
OnBootSec=60
OnUnitActiveSec=60
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
