[Unit]
Description=Monitor process "test" and notify monitoring server
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor-test.sh
#Только для тестового задания
User=root

[Install]
WantedBy=multi-user.target
